.App {
  text-align: center;
}

.App-header {
  background-color: #f8bfa48c;
  color: ghostwhite;
}
.error-text{
    background-color: #fff;
    color: red;
    text-align: center;
    margin-top: 50px;
}
